
.sign-up-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
}


.sign-up {
    display: inline-block;
}
.sign-up-form{
    background-color: #FFFFFF;
    /* z-index: 100; */
    border: 1px solid var(--primary-text-color);
    /* position: absolute; */
    /* top: 25vh; */
    /* left: 5em; */
 
    padding: 0.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    min-height: 60vh;
    max-width: 35vw;
}


/* .sign-up-form > *, label > *, button {
    color: var(--bg-color) !important;
} */

input{
    background-color: var(--primary-text-color);
}

.sign-up-form > input {
    margin: 1em 0;
}
.sign-up-form > h1{
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;

display: flex;
align-items: center;
text-align: center;

color: var(--bg-color);
}


input{
    width: 300px;
    height: 40px;
    background: #D9D9D9;
    border-radius: 5px;
}

.signupbtn{
font-weight: bold;
background: #BD79FF;
border-radius: 5px;
padding: 0.2em 1.4em;
font-size: 1.1em;
cursor: pointer;
}
/*input[type=password]
{
    position: absolute;
    width: 300px;
    height: 40px;
    left: 74px;
    top: 170px;
    background: #D9D9D9;
    border-radius: 5px;
}*/

.pictureGrid {
    display: inline-block;
    /* justify-content: space-between; */
}

.sign-up-container > img {
    width: 50%;
}