:root {
  --bg-color: #1E1E1E;
  --primary-text-color: #FFF;
  --secondary-text-color: #BD79FF;
  --tertiary-text-color: #49DA85;
  --primary-color: #BD79FF;
  
  --body-text-size: 1em;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.cta-btn{
  background-color: var(--primary-color);
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 27.5px;
  align-items: center;
  text-align: center;
  display: inline-block;
  width: 276px;
  margin-top: 32px;
  border-radius: 20px;
  cursor: pointer;
}

.btn {
  background-color: var(--primary-color);
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 27.5px;
  align-items: center;
  text-align: center;
  display: inline-block;
  width: 276px;
  margin-top: 32px;
  border-radius: 20px;
  cursor: pointer;
}

.small-btn {
  background-color: var(--primary-color);
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 25px;
  align-items: center;
  text-align: center;
  display: inline-block;
  width: 166px;
  border-radius: 10px;
  cursor: pointer;
}





* {
  margin: 0;
  box-sizing: border-box;
  font-size: var(--body-text-size);
  color: var(--primary-text-color);
  border: none;
}



body {
  background-color: var(--bg-color);
}

