:root {
  --bg-color: #1E1E1E;
  --secondary-text-color: #BD79FF;
  --primary-color: #BD79FF;
  --primary-text-color: #FFF;
  --body-text-size: 20;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}


* {
  margin: 0;
  box-sizing: border-box;
  font-size: var(--body-text-size);
  color: var(--primary-text-color);
}


body {
  background-color: var(--bg-color);
}

