:root {
  --bg-color: #1E1E1E;
  --secondary-text-color: #BD79FF;
  --primary-text-color: white;
  --body-text-size: 20;
}


* {
  margin: 0;
  box-sizing: border-box;
  font-size: var(--body-text-size);
}


body {
  background-color: var(--bg-color);
}

